<h1>Book Database</h1>

<p>
<%= link_to "Books", "/books" %>
</p>

<hr>

<% the_id = params["book_id"] %>
<% book = Book.read(the_id) %>

<h3> <strong> Book: </strong> <%= book["title"] %> </h3>
<h3> <strong> By: </strong> <%= book["author"] %> </h3>
</hr>

<body>

  <li> Price: <%= book["price"] %> </li>

<% name = book["title"] %>

  <li> Average Star Rating: <%= Review.where("title" => name).average("rating") %> </li>
<br>

<h3> <em> Reviews: </em> </h3>


<div class="col-md-6">
<table class="table table-bordered">
  <thead>
  <tr>
    <th> Star Rating </th>
    <th> Review </th>
  </tr>
  </thead>
  <tbody>

<% all_reviews = Review.where("title" => book["title"]) %>
<% all_reviews.each do |review| %>

  <tr>
    <td> <%= review["rating"] %> </td>
    <td> <%= review ["feedback"] %> </li> </td>
  </tr>

<%= link_to "Go back to list", "/books" %> </td>

<% end %>
</tbody>
</table>
</div>
</body>

